<a href="https://colab.research.google.com/github/HarishmaTR/python-basic/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

In [ ]:
print("hello")

In [ ]:
a = 2
print(a)
print(type(a))

In [ ]:
a = 2.9
print(a)
print(type(a))

In [ ]:
a = 2j+6
print(a)
print(type(a))

In [ ]:
a = 'angel'
print(a)
print(type(a))

In [ ]:
a = "A"
print(a)
print(type(a))

In [ ]:
a = False
print(a)
print(type(a))

collection datatype

In [ ]:
a = [1,'a',True]
print(a)
print(type(a))

In [ ]:
a = (1,'a',True)
print(a)
print(type(a))

In [ ]:
a = {1,'a',True}
print(a)
print(type(a))

In [ ]:
a = {1,'a',True,False}
f = frozenset(a)
print(f)
print(type(f))

mapping datatype

In [ ]:
a = {1:"anu",2:"anjali"}
print(a)
print(type(a))

In [ ]:
A = 1
a = 2
print(A)
print(a)

In [ ]:
2a = 23

In [ ]:
a2 =4
print(a2)

In [ ]:
a y = 2

In [ ]:
a_2 = 3
print(a_2)

In [ ]:
False = 9

In [ ]:
#sdfghjkl

In [ ]:
"""rdfghj
fghjk
ghjkl"""

In [ ]:
a = True
b = int(a)
print(type(b),b)

In [ ]:
x = " array "
print(len(x))

In [ ]:
x.replace('y','e')

In [ ]:
x.strip()

In [ ]:
x = x.upper()
x

In [ ]:
x.lower()

In [ ]:
x.title()

In [ ]:
x = "HELLO"
print(x[0])
print(x[-1])
print(x[-3:-1])
print(x[0:4:2])

In [ ]:
s = "hi it is ipcs"
s.split(" ")

In [ ]:
x=" age {} is{} ,{}"
print(x.format(3,7,8))

In [ ]:
a = 5
b = 6
print(f'hello {a} erdf {b}')

In [ ]:
x="hello {}"

print(x.format(5))

In [ ]:
x="my age is {}"
print(x.format(6))

In [ ]:
a=7
b=8
print(f"day is {a}, age is {b}")

In [ ]:
a="orange"
b="apple"
print(f"{a},{b}")

In [ ]:
x="hello {}"
print(x.format("hari"))

In [ ]:
a="hari"
a.title()

In [ ]:
a.upper()

In [ ]:
print(a[0:3])

In [ ]:
s="we are \r vikings\" from south"
print(s)

In [ ]:
s="my name \"is\" harishma"
print(s)

In [ ]:
s="my name \\is\\ harishma"
print(s)

In [ ]:
s="my name is\n harishma"
print(s)

In [ ]:
s="my\r name is harishma"
print(s)

In [ ]:
s="my name is\t harishma"
print(s)

In [ ]:
s="my name is harishma\b"
print(s)

In [ ]:
print(10<=10)

In [ ]:
print(bool(None))

In [ ]:
print(19>25)

In [ ]:
print(4==4)

In [ ]:
a=45
print(isinstance(a,bool))

In [ ]:
a="orange"
print(isinstance(a,str))

In [ ]:
bool([])

In [ ]:
print(bool({5}))

In [ ]:
print(bool(1))

In [ ]:
bool(0)

In [ ]:
import operator
dir(operator)

In [ ]:
a=2
b=7
print(operator.add(a,b))
print(a+b)

In [ ]:
import operator
dir(operator)

In [ ]:
a=6
b=45
print(a+b)

In [ ]:
operator.add(a,b)

In [ ]:
operator.sub(b,a)

In [ ]:
operator.pow(a,b)

In [ ]:
operator.truediv(a,b)

In [ ]:
print(a/b)

In [ ]:
operator.mod(a,b)

In [ ]:
print(a%b)

In [ ]:
a=4
a+=4
print(a)

In [ ]:
operator.iadd(4,4)

In [ ]:
print(a>3 or b<100)

In [ ]:
print(not b<100)

In [ ]:
li=["apple","banana","orange","cherry","kiwi","grapes"]
print(li)
print(type(li))
print(len(li))
print(li[1:5])
print(li[:5])
print(li[-5:-1])
print(li)
li[2]="jackfruit"
print(li)
li[2:4]=["orange","cherry"]
print(li)

In [ ]:
x=("apple","orange","banana")
y=list(x)
y[1]="cherry"
x=tuple(y)
print(x)

In [ ]:
a=("hello", "hi")
b=list(a)
b[1]="am"
a=tuple(b)
print(a)

In [ ]:
fruits=("apple","banana","orange")
(green,red,yellow)=fruits
print(green)
print(red)
print(yellow)

In [ ]:
tu=(1,2,2,4,3,7,3)
tu.index(3)

In [ ]:
fruits={"apple","orange"}
print(fruits)

In [ ]:
fruits={"apple","orange","banana"}
for x in fruits:
    print(x)
print("banana" in fruits)

In [ ]:
fruits.add("cherry")
print(fruits)

In [ ]:
fruits1=["watermelon","kiwi"]
fruits.update(fruits1)
print(fruits)

In [ ]:
fruits.remove("kiwi")
print(fruits)

In [ ]:
fruits.discard("banana")
print(fruits)

In [ ]:
fruits.clear()
print(fruits)

In [ ]:
fruits={"apple","orange","banana"}
x=fruits.pop()
print(x)
print(fruits)

In [ ]:
set1={1,2,3}
set2={4,5}
set3=set1.union(set2)
print(set3)

In [ ]:
set1.update(set2)
print(set1)

In [ ]:
x={"apple","banana","orange"}
y={"apple","cherry","orang"}
x.intersection_update(y)
print(x)

In [ ]:
z=x.intersection(y)
print(z)

In [ ]:
fruits={"apple","banana","orange"}
x=frozenset(fruits)
print(x)

In [ ]:
a=6
b=8
if b>a:
    print("b is greater than a")

In [ ]:
a=15
b=7
if b>a:
    print("b is greater than a")
elif b<a:
    print("b is lesser than a")

In [ ]:
a=13
b=13
if b>a:
    print("b is greater than a")
elif b<a:
    print("a is greater thab b")
else:
    print("a and b are same")

In [ ]:
a=15
b=6
print(a)if a>b else print(b)

In [ ]:
print(a) if a>b else print(b) if b>a else print("=")

In [ ]:
a=45
b=59
c=60
if a<b and c>b:
    print("both conditions are true")

In [ ]:
if a<b or c<b:
    print("one statement is true")

In [ ]:
a=2
b=5
if a<b:
    print("a is lesser than b")
    if a<10:
        print("a is lesser than 10")
else:
    print("a is greater than b")

In [ ]:
a=10
b=20
if a>b:
    pass

In [ ]:
i=0
while i<5:
    i+=1
    print(i)

In [ ]:
i=1
while i<6:
    i+=2
    print(i)

In [ ]:
a=[1,2,3,4]
while a:
    print(a.pop())

In [ ]:
i=0
while i<10:
    if i == 3:
        i=i+1
        continue
    elif i == 6:
        break
    else:
        print(i)
        i=i+1

In [ ]:
i=0
while i<10:
    if i==2:
        i=i+1
        continue
    elif i==10:
        i=i+1
        break
    else:
        print(i)
        i=i+1

In [ ]:
i=0
while i<5:
    i=i+1
    print(i)
else:
    print("no break\n")

In [ ]:
for i in range(3,31,3):
    print(i)

In [ ]:
l=["apple","banana","orange"]
for i in l:
    print(i)

In [ ]:
t=("apple","banana","orange")
for i in t:
    print(t)

In [ ]:
a=50
b=60
if a<b

In [ ]:
def my_func():
    print("hi world!!")
my_func()

In [ ]:
def my_func(x):
    print("hi world!!",x)
my_func(10)

In [ ]:
def my_func(x,y):
    print("hi world!!",x,y)
my_func(10,55)

In [ ]:
def my_func(a,b):
    print("hi world!!",a,b)
my_func(a=10,b=77)

In [ ]:
def my_func(*a):
    print("hi world!!",a[5])
my_func(10,20,30,40,50,69)

In [ ]:
def my_func(**a):
    print("hi world!!",a)
my_func(a=10,b=77,c=56,d=89)

In [ ]:
def hai():
    print("hello world")
hai()

In [ ]:
def fruits(a,b):
    print("bucket",a,b)
fruits("apple","orange")

In [ ]:
def fruits(*a):
    print("bucket",a)
fruits("apple","orange","banana","lemon")

In [ ]:
def fruits(**a):
    print("bucket",a)
fruits(a="apple",b="orange",c="banana",d="lemon")

In [ ]:
def evenodd(a):
    if a%2==0:
        print("even")
    else:
        print("odd")
evenodd(15)

In [ ]:
def values(a,b=18):
    print("numbers are",a,b)
values(10,75)

In [ ]:
def student(firstname,secondname):
    print(firstname,secondname)
student(firstname="hello",secondname="python")
student(firstname="hai",secondname="java")

In [ ]:
def student(firstname,secondname):
    print(firstname,secondname)
student("hello","python")
student("hai","java")

In [ ]:
def fruits(*a):
    print("bucket",a[1])
fruits("apple","orange","banana","lemon")

In [ ]:
def mu_function(*avrg):
    for x in avrg:
        print(x)
mu_function("hello","my","name","is","harishma")

In [ ]:
def my_function(**students):
    print("they are",students)
my_function(a="hari",b="anu",c="ammu")

In [ ]:
def my_function(student):
    print("his name is" + student)
my_function(" vijay")

In [ ]:
def squre(num):
    return num**2
print(squre(3))

In [ ]:
def f1():
    a="hello world"
    def f2():
        print(a)
    f2()
f1()

In [ ]:
f = lambda x : print(x**2)
f(2)

In [ ]:
a=lambda y:print(y*2)
f(3)

In [ ]:
x="hello python"
(lambda x:print(x))(x)

In [ ]:
def cube(y):
    return y*y*y;
g=lambda x:x*x*x
print(g(5))
cube(5)

In [ ]:
def myfunction():
    s="i love python"
    print(s)
myfunction()

In [ ]:
def myfunction():
    s="me too"
    print(s)
s="hello world"
myfunction()
print(s)

In [ ]:
a=1
def f1():
    print("f1",a)
def g1():
    a=2
    print("g1",a)
def h1():
    global a
    a=3
    print("h1",a)
f1()
print("global",a)
g1()
print("global",a)
h1()
print("global",a)

In [ ]:
def shout(text):
    return text.upper()
print(shout("hello"))
yell=shout
print(yell("hello"))

In [ ]:
def shout(text):
    return text.upper()
def whisper(text):
    return text.lower()
def greet(fun):
    greeting=fun("""hello i am harishma""")
    print(greeting)
greet(shout)
greet(whisper)

In [ ]:
def create_adder(x):
    def adder(y):
        return(x+y)
    return adder
add_15=create_adder(20)
print(add_15(10))

In [ ]:
num = int(input("enter a number"))
def fact(num):
    if num == 1 or num == 0:
          return 1
    else:
          return num*fact(num-1)#recursion
result = fact(num)
print(f'result:{result}')

In [ ]:
def add(x+y):
    return(x+y

In [ ]:
import math
dir(math)

In [ ]:
class box:
    v=3
    def myfunc(self):
        print("func inside a class")
obj=box()
print(obj.v)
obj.myfunc()

In [ ]:
class cars:
    attr1="bmw"
    attr2="red"
    def __init__(self):
        print("my color is",self.attr2)
obj=cars()
print(obj.attr1)

In [ ]:
class person:
    name="john"
    def __init__(self):
        print("my name is",self.name)
obj=person()

In [ ]:
class cars:
    fourwhealer="name"
    def __init__(self,brand,color):
        self.brand=brand
        self.color=color
    def fun(self):
        print("hello",self.brand)
        print("and color is",self.color)
obj1=cars("nexon","brown")
obj2=cars("ford","orange")
obj1.fun()

In [ ]:
obj2.fun()

In [ ]:
class employee:
    def __init__(self):
        print("the name is")
    def __del__(self):
        print("destroyed")
obj=employee()

In [ ]:
class employee:
    def __init__(self):
        print("the name is")
    def __del__(self):
        print("destroyed")
def create_obj():
    print("object created")
    obj=employee()
    print("object deleted")
create_obj()

In [ ]:
string1="  filet mignon"
string2="bisket   "
string=" cheese burger "
print(string1.strip())
print(string2.strip())
print(string.strip())

In [ ]:
x=str(input("enter the value"))
print(x.upper())

In [ ]:
x=str(input("enter the value"))
print(len(x))

In [ ]:
x=int(input("enter the number"))
y=int(input("enter the second number"))
z=x*y
print("the product of", x ,"and", y ,"is", z)

In [ ]:
x=0.2
animal="newt"
print(f"{x} is the weight of {animal}")

In [ ]:
x="{} is the weight of {}"
print(x.format(0.2,"newt"))

In [ ]:
a=["apple","banana","orange"]
a.append("cherry")
print(a)

In [ ]:
word="abcdefghij"
word[:3]+word[3:]

In [ ]:
List=[1,2,1,3,4,2]
print(set(List))

In [ ]:
a={1,2,3,4}
b=(list(a))
b.append(5)
a=set(b)
print(a)

In [ ]:
a={1,2,3,4}
b=list(a)
b.remove(3)
a=set(b)
print(a)

In [ ]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
c=setx.intersection(sety)
print(c)

In [ ]:
setx.pop()
print(setx)

In [ ]:
sety.clear()
print(sety)

In [ ]:
name={"a":"ammu","b":"anu","c":"appu"}
print(name)
name["d"]="ann"
print(name)

In [ ]:
sampledictionary={0: 10, 1: 20}
sampledictionary[3]=30
print(sampledictionary)

In [ ]:
d={1:"A",2:"B"}
d1={3:"C",4:"D"}
v = list(d.items())
v1 = list(d1.items())
v.extend(v1)
dic = dict(v)
print(dic)

In [ ]:
class super:
    #public method
    var1=None
    #protected
    _var2=None
    #private
    __var3=None

    def __init__(self,var1,_var2,__var3):
        self.var1=var1
        self._var2=var2
        self.__var3=var3
    def dispalypublicmembers(self):
        print("public data member",self.var1)
    def _displayprotectedmembers(self):
        print("protected data member",self._var2)
    def __displayprivatemembers(self):
        print("private data member",self__var3)
    def accessprivatenumber(self):
        self.__displayprivatemembers()
class sub(super):
    def __init__(self,var1,var2,var3):
        super.__init__(self,var1,var2,var3)
    def accessprotectedmember(self):
        self._displayprotectedmembers()
obj=sub("geeks",4,"geeks!")
obj.displayPublicmembers()
obj.accessProtectedmembers()
obj.accessPrivatemembers()
print()
obj.displayprotectedmembers()
obj._super__displayprivatemembers()
print()
print("object is accesing protected members",obj._var2)
print("object is accesing private members",obj._super__var3)

In [ ]:
class geek:
    def __init__(self,name,age):
        self.geekname=name
        self.geekage=age
    def displayage(self):
        print("age:",self.geekage)
obj=geek("R2J",20)
print("list of fields and methods inside obj:",dir(obj))
print("name:",obj.geekname)
obj.displayage()

In [ ]:
class student:
    _name=None
    _roll=None
    _branch=None
    def __init__(self,name,roll,branch):
        self._name=name
        self._roll=roll
        self._branch=branch
    def _displayrollandbranch(self):
        print("roll:",self._roll)
        print("branch:",self._branch)
class geek(student):
    def __init__(self,name,roll,branch):
        student.__init__(self,name,roll,branch)
    def displaydetails(self):
        print("name:",self._name)
        self._displayrollandbranch()
stu=student("alpha",1234567,"computer science")
print(dir(stu))
print(stu._name)
stu._displayrollandbranch()

obj= geek("R2J",1706256,"information technology")
print("")
print(dir(obj))
obj.displaydetails()

In [ ]:
class geek:
    __name=None
    __roll=None
    __branch=None

    def __init__(self,name,roll,branch):
        self.__name=name
        self.__roll=roll
        self.__branch=branch
    def __displaydetails(self):
        print("name",self.__name)
        print("roll",self.__roll)
        print("branch",self.__branch)

    def accessprivatefunction(self):
        self.__displaydetails()
obj=geek("hello",123,"computer")
print(dir(obj))
print("")

print(obj._geek__name)
print(obj._geek__roll)
print(obj._geek__branch)
obj._geek__displaydetails()
print("")
obj.accessprivatefunction()

In [ ]:
class GParent:
  def gdisplay(self):
    print("GParent")
class Parent(GParent):
  def pdisplay(self):
    print("Parent")
class Parent2(GParent):
  def p2display(self):
    print("Parent2")
class Child(Parent,Parent2):
  def display(self):
    print("Child")

In [ ]:
ob = Child()
ob.pdisplay()
ob.gdisplay()
ob.p2display()

In [ ]:
class person(object):
  def __init__(self,name):
    self.name=name
  def getname(self):
    return self.name
  def isemployee(self):
    return False
class employee(person):
  def isemployee(self):
    return True
emp=person("sathyan")
print(emp.getname(),emp.isemployee())
emp=employee("vignesh")
print(emp.getname(),emp.isemployee())

In [ ]:
class person():
  def __init__(self,name,idnumber):
    self.name=name
    self.idnumber=idnumber
  def display(self):
    print(self.name)
    print(self.idnumber)
class employee(person):
  def __init__(self,name,idnumber,salary,post):
    super().__init__(name,idnumber)
    self.salary=salary
    self.post=post
a=employee("hari",1234,30000,"trainee")
a.display()

In [ ]:
class base1(object):
  def __init__(self):
    self.str1='hello'
    print(base1)
class base2(object):
  def __init__(self):
    self.str2="hi"
    print(base2)
class derived(base1,base2):
  def __init__(self):
    base1.__init__(self)
    base2.__init__(self)
    print("derived")
  def printstrs(self):
    print(self.str1,self.str2)
obj=derived()
obj.printstrs()

In [ ]:
class base(object):
  def __init__(self,name):
    self.name=name
  def getname(self):
    return self.name
class child(base):
  def __init__(self,name,age):
    base.__init__(self,name)
    self.age=age
  def getage(self):
    return self.age
class grandchild(child):
  def __init__(self,name,age,address):
    child. __init__(self,name,age)
    self.address=address
  def getaddress(self):
    return self.address
g=grandchild("vignesh",23,"tsr")
print(g.getname(),g.getage(),g.getaddress())

In [ ]:
def add(x,y,z=0):
  return x+y+z
print(add(1,2))
print(add(1,2,3))

In [ ]:
class india:
  def capital(self):
    print("new delhi is the capital of india")
  def language(self):
    print("hindi")
  def type(self):
    print("india is a developing country")
class usa:
  def capital(self):
    print("washington is the capital of usa")
  def language(self):
    print("english")
  def type(self):
    print("usa is a developed country")
obj_ind=india()
obj_usa=usa()
for country in (obj_ind,obj_usa):
  country.capital()
  country.language()
  country.type()

In [ ]:
class bird:
  def intro(self):
    print("there are so many birds")
  def flight(self):
    print("most of the birds fly but someone cannot")
class sparrow(bird):
  def flight(self):
    print('sparrows can fly')
class ostrich(bird):
  def flight(self):
    print('ostriches cannot fly')
obj_bird=bird()
obj_sparrow=sparrow()
obj_ostrich=ostrich()
obj_bird.intro()
obj_bird.flight()
obj_sparrow.intro()
obj_sparrow.flight()
obj_ostrich.intro()
obj_ostrich.flight()

In [ ]:
mytuple=("anu","ammu","appu")
myt=iter(mytuple)
print(next(myt))
print(next(myt))
print(next(myt))

In [ ]:
mystring="tiger"
stri=iter(mystring)
print(next(stri))
print(next(stri))
print(next(stri))
print(next(stri))
print(next(stri))

In [ ]:
mytuple=("apple","banana","orange")
for i in mytuple:
  print(i)

In [ ]:
class mynumbers:
  def __iter__(self):
    self.a=1
    return self
  def __next__(self):
    x=self.a
    self.a+=1
    return x

myclass=mynumbers()


myiter=iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

In [ ]:
def greeting():
  print("hi")
  yield 1
  print("i am")
  yield 2
  print("harishma")
  yield 3
messenger=greeting()
result=next(messenger)
result=next(messenger)
result=next(messenger)
print(result)

In [ ]:
import threading

def task():
  print("thread running")
thread=threading.Thread(target=task)
thread.start()

In [ ]:
#multiple threading
import threading
def task1():
  print("task1")
def task2():
  print("task2")
thread1=threading.Thread(target=task1)
thread2=threading.Thread(target=task2)
thread1.start()
thread1.join()
thread2.start()
thread2.join()

In [ ]:
data = open("/content/file.txt","r")
# print(data.read())
for i in data:
  print(i)

hello my name is anu.

In [ ]:

data = open("/content/file.txt","w")
data.write("hello")
data.close()

In [ ]:
data = open("/content/file.txt","a")
data.write(",my name is anu")
data.close()

In [ ]:
data=open("/content/python.txt","r")
print(data.read())
for i in data:
  print(i)

hello,

In [ ]:
data=open("/content/python.txt","w")
data.write("i am python")
data.close()

In [ ]:
data=open("/content/python.txt","w")
data.write("this is a written command")
data.write("this make more sence")
data.close()

In [ ]:
data=open("/content/python.txt","a")
data.writelines(["hello, i am python ","\ni am java"])
data.close()

In [ ]:
file1=open("/content/file1.txt","w")
L=["this is delhi\n", "this is paris\n","this is london"]
file1.writelines(L)
file1.close()
file1=open("/content/file1.txt","a")
file1.write("\n")
file1.write("today is tuesday")
file1.write("tommarrow is wednesday")
file1=open("/content/file1.txt","r")
print("output of readlines after appending")
print(file1.read())
print()
file1.close()

output of readlines after appending
this is delhi
this is paris
this is london
today is tuesdaytommarrow is wednesday

In [ ]:
L=["this is paris\n","this is londan\n","this is delhi\n"]
with open("/content/file2.txt","w")as file2:
  file2.write("hello\n")
  file2.writelines(L)
with open("/content/file2.txt","a")as file2:
  file2.write("today is tuesday")
with open("/content/file2.txt","r")as file2:
  print(file2.read())

hello
this is paris
this is londan
this is delhi
today is tuesday

In [ ]:
a=[1,2,3]
try:
  print("second element =",a[1])
  print("fourth element =",a[3])
except:
  print("an errror occured")

second element = 2
an errror occured

In [ ]:
def fun(a):
  if a<4:
    b=a/(a-3)
  print("value of b=",b)
try:
  # fun(3)
  fun(4)
except ZeroDivisionError:
  print("zero division error occured and handled")
except NameError:
  print("name error occured and handled")

name error occured and handled

In [ ]:
def abyb(a,b):
  try:
    c=(a+b)/(a-b)
  except ZeroDivisionError:
    print("a/b result in 0")
  else:
    print(c)
abyb(2.0,3.0)
abyb(3.0,3.0)

-5.0
a/b result in 0

In [ ]:
try:
  k=5//0
  print(k)
except ZeroDivisionError:
  print("cant divide by zero")
finally:
  print("run the code")

cant divide by zero
run the code

In [ ]:
try:
  raise NameError("hi there")
except NameError:
  print("an error occured")
  raise

an error occured

NameError: hi there

In [ ]:
class MyError(Exception):
  def __init__(self,value):
    self.value=value

  def __str__(self):
    return(repr(self.value))
try:
  raise MyError(3*4)
except MyError as error:
  print("a new exception occured: " ,error.value)

a new exception occured:  12

In [ ]:
import re
txt="hello,my name is python"
x=re.search("^hello.*hi$",txt)
print(x)

None

In [ ]:
import re
txt="hello,my name is python"
x=re.findall("[a-z]",txt)
print(x)

['h', 'e', 'l', 'l', 'o', 'm', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'p', 'y', 't', 'h', 'o', 'n']

In [ ]:
import re
txt='hello, i am just 20'
x=re.findall("\d",txt)
print(x)

['2', '0']

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-298492631.py:3: SyntaxWarning: invalid escape sequence '\d'
  x=re.findall("\d",txt)

In [ ]:
import re
txt="hello,my name is python"
x=re.findall("n..e",txt)
print(x)

['name']

In [ ]:
import re
txt="hello,my name is python"
x=re.findall("^h",txt)
if x:
  print("yes the string starts with hello")
else:
  print("no match")

yes the string starts with hello

In [ ]:
import re
txt="hello,my name is python"
x=re.findall("n$",txt)
if x:
  print("yes the string ends in n")
else:
  print("no match")

yes the string ends in n

In [ ]:

import re
txt="hello my name is python"
x=re.findall("p.*n",txt)
print(x)

['python']

In [ ]:

import re
txt="hello my name is python"
x=re.findall("n.+n",txt)
print(x)

['name is python']

In [ ]:
import re
txt="hello my name is  python"
x=re.findall("p.?t",txt)
print(x)

['pyt']

In [ ]:

import re
txt='hello my name is python'
x=re.findall("p.{4}n",txt)
print(x)

['python']

In [ ]:
from re import findall
import re
txt="the rain spain falls mainly in planes"
x=re.findall("rain|no",txt)
if x:
  print("either one is correct")
else:
  print("no match")

either one is correct

In [ ]:
import re
txt="the rain in spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt="the rain in spain"
x=re.findall("kerala",txt)
print(x)

[]

In [ ]:
import re
txt="the rain in spain"
x=re.search("\s",txt)
print("the first white space is placed in the position",x.start())

the first white space is placed in the position 3

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1799404575.py:3: SyntaxWarning: invalid escape sequence '\s'
  x=re.search("\s",txt)

In [ ]:
import re
txt="the rain in spain"
x=re.split("\s",txt)
print(x)

['the', 'rain', 'in', 'spain']

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3013776480.py:3: SyntaxWarning: invalid escape sequence '\s'
  x=re.split("\s",txt)

In [ ]:
import re
txt='the rain in spain'
x=re.split("\s",txt,2)
print(x)

['the', 'rain', 'in spain']

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2889775955.py:3: SyntaxWarning: invalid escape sequence '\s'
  x=re.split("\s",txt,2)